.pane{
    -fx-background-size: cover;
}
.vbox{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
}
#title{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;

}
#label{
    -fx-color-label-visible: #7d39f6;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;

}
.text-field{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
}
.button{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
}